.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(#000, 0.1);
  border-radius: 3px;
  background-color: rgba($white, 0.6);
  padding: 6rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
    padding: 4rem;
  }

  &__text {
    transform: skewX(12deg);
    font-weight: 400;

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    overflow: hidden;
    border-radius: 3px;
    shape-outside: circle(50% at 60% 60%);
    transform: translateX(-3rem) skewX(12deg);

    @supports (clip-path: circle(50% at 50% 50%)) or
      (-webkit-clip-path: circle(50% at 50% 50%)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(phone) {
      transform: skewX(0);
      margin-right: 1.2rem;
    }
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.4s ease;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-transform: uppercase;
    color: $white;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s ease;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
